@import "tailwindcss";

body {
  background-color: #080e13;
  color: white;
}

@theme {
  --color-primary: #080e13;
  --color-secondary: #191c24;
  --color-accent: #2ae88f;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
